---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import CarruselCard from "./carrusel-card.astro";
import { ChevronLeft, ChevronRight } from "@lucide/astro";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.aboutIA;
const carruselItems = content.cards;
---

<div class="flex flex-col md:flex-row items-center justify-center gap-12">
  <button
    class="z-10 hidden md:block pointer-events-auto p-2 rounded-full border border-white text-white bg-white/10 hover:bg-black/70 transition mr-4 cursor-pointer"
    onclick="prevSlide()"
    aria-label="Anterior"
  >
    <ChevronLeft />
  </button>
  <div class="relative md:max-w-xl overflow-hidden">
    <div
      id="carousel-track"
      class="flex transition-transform duration-500 ease-in-out w-[300px] md:w-auto mx-auto"
      style="transform: translateX(0%)"
    >
      {
        carruselItems.map((e) => (
          <div class="w-full shrink-0">
            <CarruselCard
              image={e.image}
              label={e.label}
              description={e.description}
            />
          </div>
        ))
      }
    </div>
  </div>
  <button
    class="z-10 hidden md:block pointer-events-auto p-2 rounded-full border border-white text-white bg-white/10 hover:bg-black/70 transition cursor-pointer"
    onclick="nextSlide()"
    aria-label="Siguiente"
  >
    <ChevronRight />
  </button>

  <!-- buttons movile -->
  <div class="md:hidden flex justify-between">
    <button
      class="z-10 pointer-events-auto p-2 rounded-full border border-white text-white bg-white/10 hover:bg-black/70 transition mr-4 cursor-pointer"
      onclick="prevSlide()"
    >
      <ChevronLeft />
    </button>
    <button
      class="z-10 pointer-events-auto p-2 rounded-full border border-white text-white bg-white/10 hover:bg-black/70 transition cursor-pointer"
      onclick="nextSlide()"
    >
      <ChevronRight />
    </button>
  </div>
</div>

<script is:inline>
  const track = document.getElementById("carousel-track");
  const totalSlides = track.children.length;
  let current = 0;

  function updateCarousel() {
    const percent = -(100 * current);
    track.style.transform = `translateX(${percent}%)`;
  }

  function nextSlide() {
    if (current < totalSlides - 1) {
      current++;
      updateCarousel();
    }
  }

  function prevSlide() {
    if (current > 0) {
      current--;
      updateCarousel();
    }
  }
</script>
