---
import { translator } from "@i18n/config/translator";
import Carrusel from "./carrusel.astro";
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import H2 from "@components/titles/H2.astro";
import PointsRight from "@components/background/points-right.astro";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.aboutIA;
---

<section class="relative">
  <div class="container mx-auto my-20" id="aboutIA">
    <H2 class="mb-12">{content.title}</H2>
    <Carrusel />
  </div>
  <PointsRight />
</section>
