---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { translator } from "@i18n/config/translator";
import Navbar from "./navbar.astro";
import Waves from "./waves.astro";
import ChatBot from "./chat-bot/chat-bot";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.hero;
---

<header
  class="z-10 relative container mx-auto py-4 h-[80vh] max-h-[900px] rounded-b-3xl flex flex-col"
>
  <Waves />
  <Navbar />
  <div class="grow flex items-center justify-center">
    <div class="max-w-[70%]">
      <h1 class="text-white text-center heading-h2">
        {content.slogan.first}
        <span
          class="md:block w-fit mx-auto bg-gradient-to-r from-primary to-secondary bg-clip-text py-2 text-transparent mt-6"
          >{content.slogan.second}</span
        >
      </h1>

      <p class="text-center text-custom-xl mt-6 font-light">
        {content.description}
      </p>
    </div>
  </div>
  <ChatBot content={content.chatbot} client:load />
</header>
