<div
  class="-z-10 absolute left-0 top-0 w-full h-full opacity-20 mask mask-[url('/chat-bot/bot-in-chat.svg')] mask-center mask-contain mask-no-repeat text-primary"
>
  asd Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
  perferendis laborum soluta rem vitae, quaerat et commodi facilis id hic autem
  neque voluptatibus natus dolor ullam! Aliquid ad placeat ipsam! Sapiente vel
  ad laborum labore voluptas temporibus animi sit beatae libero dolores
  voluptate impedit quo facilis iste laboriosam dicta ut ea ipsam, at sequi, non
  atque vero tenetur ratione. Necessitatibus. Deserunt laboriosam nesciunt harum
  possimus dolore modi sapiente fugiat ratione animi? Fugiat optio libero
  similique sapiente eligendi rem saepe harum minima laborum corrupti, ea fugit
  quam doloribus, deserunt laboriosam veniam! Sit reiciendis similique sint
  itaque quis deleniti et reprehenderit deserunt accusantium magnam unde
  explicabo fugiat, nulla odit, tempora delectus veniam, error nobis? Fuga
  maxime asperiores a soluta at aut in? Maiores, a similique ipsam pariatur
  tempore error nesciunt fugiat quasi placeat maxime dicta aperiam voluptatum
  nihil velit. Architecto impedit molestias ullam veritatis enim tempore laborum
  sit fugiat, maiores, vel et. Tempore labore vel dolorum tempora reiciendis
  quasi ea, delectus reprehenderit qui culpa quibusdam iste assumenda omnis
  totam consectetur voluptatibus explicabo eligendi eaque cum aliquid doloremque
  rem. Quibusdam nostrum quaerat esse! Laborum et cumque voluptatem minima magni
  pariatur perferendis exercitationem, a tempora excepturi. Eveniet, sapiente
  perferendis incidunt porro impedit sunt vel quia quod aperiam. Dolores, nobis?
  Voluptate omnis repellat eius iure? Natus est quaerat, sapiente temporibus
  blanditiis ducimus voluptatum! Nostrum saepe repellat sapiente illo? Facere
  sequi enim perferendis est cupiditate. Adipisci, nostrum nam alias error
  labore eos voluptatum similique corrupti eius! Eligendi necessitatibus
  cupiditate praesentium! Repellat numquam consectetur fugit id, possimus non
  incidunt voluptatum quidem reprehenderit qui adipisci obcaecati, tenetur
  inventore, quae necessitatibus molestiae dolorem libero consequatur facilis
  nemo fugiat saepe? Nemo vitae atque et, obcaecati cupiditate alias aliquid
  iure? Maiores doloribus ipsum rerum, vel incidunt distinctio soluta explicabo,
  expedita, tempora qui nisi at cupiditate mollitia eaque. Aspernatur iusto
  nostrum quidem. Accusantium libero, tempore fuga enim delectus debitis, natus
  impedit labore magni ex ratione corporis aperiam perspiciatis aspernatur error
  blanditiis repellendus facilis? Illo facere dignissimos ab sit molestias
  dolorum voluptas dolor. Odio quo quibusdam nulla. Repudiandae dignissimos,
  iusto vero officia dolorum modi nostrum fugit magni perferendis, cumque illum
  excepturi adipisci placeat! Natus aspernatur perspiciatis doloribus,
  consequatur aut at non ratione eos. Minus molestiae ratione beatae dicta quia
  excepturi quam, esse provident odio libero corrupti ut aliquam quo, aperiam
  dolore obcaecati, eius neque! Dolor, fugiat autem. Qui ea nostrum sapiente
  mollitia accusantium! Totam nesciunt illum expedita, vitae consectetur
  accusantium magnam ipsam laboriosam fuga quibusdam est nihil voluptates ea
  dolore minus qui eaque nam ab illo laborum eius aspernatur tempora blanditiis
  necessitatibus? Eaque. Eos, accusantium? Impedit explicabo officia at culpa
  similique voluptatem veniam dolor labore repudiandae cupiditate deleniti,
  molestiae ipsam nemo quod doloribus fuga alias recusandae porro ipsa
  dignissimos. Reiciendis repellendus eius alias? Eos quia voluptatibus dolore
  ipsa perferendis aspernatur, atque, error, est cum similique expedita ex modi
  nesciunt velit? Nemo quas similique aut unde delectus. Explicabo labore quis
  architecto inventore adipisci ex! Quibusdam placeat, blanditiis, saepe velit
  itaque voluptates sequi beatae soluta quia excepturi reprehenderit odio magni
  commodi aliquid! Dolore quibusdam, possimus cum libero labore similique, et
  soluta veritatis beatae eos quae! Beatae odit quod neque similique. Velit ipsa
  iste alias architecto quae pariatur soluta reprehenderit iusto id delectus
  explicabo sint suscipit perferendis ullam modi animi reiciendis culpa cum
  tempore, magni quos. Ipsa, voluptatem molestiae recusandae dolor
  necessitatibus, velit harum incidunt voluptate, eius odit corrupti accusamus.
  Impedit, fugit dolor corrupti aspernatur asperiores, ratione amet nobis ab
  totam dolorem, rerum laboriosam quibusdam facilis? Nulla harum laborum alias
  voluptatum reiciendis! Dolorem obcaecati soluta architecto culpa repudiandae
  rerum laudantium recusandae nobis magnam? Doloremque aut labore eum nisi cum
  modi fuga, sed assumenda delectus fugit doloribus. Pariatur, non. Earum vero
  fuga doloremque repudiandae placeat exercitationem, perferendis laboriosam
  quia laborum neque esse assumenda dolorum atque repellendus suscipit dolorem
  non, numquam consectetur recusandae sed minima ab voluptate. Amet. Ex error
  officia nostrum quam accusamus repellat molestias, voluptates repellendus
  numquam optio modi, at nam tenetur velit dignissimos exercitationem nihil
  veniam! Obcaecati velit saepe debitis alias amet accusamus, impedit
  distinctio. Culpa voluptas, alias quam, tempora ad provident at quas ipsum
  soluta quidem obcaecati rem iure temporibus porro doloribus repellendus iste
  autem labore animi, aspernatur assumenda nam nemo! Officia, cumque
  consequuntur. Inventore, cupiditate necessitatibus! Sunt magnam non, deleniti
  optio minus tempore, sit eius quidem cum distinctio doloribus nihil aut quos
  culpa impedit incidunt consequuntur necessitatibus veniam perspiciatis earum
  placeat maxime recusandae. Dolore sunt natus, impedit dolorem laboriosam
  deleniti. Nam repellat cupiditate ipsa laboriosam voluptatem, delectus, error
  reprehenderit amet neque quod nulla ipsum illo quo doloremque minus
  dignissimos! Deleniti rerum quod blanditiis. Nesciunt fugit dolore voluptate
  in sit atque repellat dolor ad possimus libero, expedita pariatur ut vel quod
  at veritatis! Fugit, architecto quod perferendis quidem illum provident
  blanditiis commodi deserunt vel. Vero, numquam molestiae possimus eos non ut
  quibusdam iusto earum repellat, cum ab sapiente quisquam id nobis quasi quae!
  Velit voluptatem, dignissimos nam asperiores reprehenderit expedita
  voluptates. Deserunt, iusto fugiat. Modi, incidunt, repudiandae iure labore
  reiciendis ipsa, inventore sequi ea commodi excepturi assumenda architecto.
  Delectus, fuga! Iusto, veritatis, commodi error vero ab quisquam natus aut
  obcaecati reiciendis possimus nihil deleniti? Soluta earum modi aliquid
  repellendus iste animi nisi aperiam voluptates laborum numquam voluptatum
  amet, consequatur eius eaque quod quam ratione est pariatur ipsam nesciunt
  tempora distinctio dolor? Beatae, explicabo quam. Placeat modi, vel numquam
  aut assumenda corrupti accusamus explicabo voluptates eveniet itaque sunt
  repellendus sequi libero cum dicta. Praesentium deserunt architecto neque
  dicta assumenda iusto quos sequi excepturi alias repellat! Nemo error id sit
  earum iure, laborum sunt temporibus. Veritatis autem placeat eveniet ducimus
  nobis, natus atque ex quaerat eum nihil cupiditate voluptates alias neque
  similique iure incidunt cum pariatur! Earum, dolor, quidem qui molestiae
  itaque dignissimos quisquam suscipit quasi perspiciatis, non iure quaerat
  blanditiis. Vel eveniet minus debitis, ipsum dolores quas vitae atque quisquam
  ea sint ipsa iusto vero. Consectetur, quos eveniet non ipsa, tenetur accusamus
  debitis iste corrupti velit asperiores modi vitae praesentium sed, impedit eos
  ratione earum quidem tempora sit. Molestias dignissimos, non quidem
  praesentium exercitationem dolores. Architecto atque deleniti ab quas!
  Perspiciatis laudantium quas, odit velit quibusdam quia voluptas consectetur
  delectus? Minima sint quas cumque impedit, necessitatibus totam voluptate
  ipsum soluta culpa quasi id. Reprehenderit, officia! Dicta numquam totam hic
  facere ducimus, nulla sed animi quaerat magni. Quibusdam, eaque possimus iure
  alias porro accusamus facilis amet. Ea nostrum cum excepturi inventore hic
  officia possimus facere consequatur. Quos nisi sit nemo explicabo debitis.
  Delectus quo sit sequi praesentium, laboriosam explicabo! Nesciunt iusto iste
  animi labore. Ipsa repellendus omnis sapiente magnam modi minus voluptatibus
  autem architecto suscipit nemo? Aspernatur, quibusdam? In nihil optio
  consequuntur quidem doloribus nisi quod vero molestias tempora aliquid hic,
  alias fuga laudantium illum ut animi culpa ipsam atque iusto corporis
  delectus, minus omnis doloremque. Totam libero cumque culpa dicta molestias
  eligendi ullam quos corporis reprehenderit, perferendis excepturi, voluptatem
  voluptas harum eaque? Quo magnam, sint harum rerum praesentium, quisquam
  veniam minima illo quibusdam accusamus vitae! Ut minus voluptatem sequi et
  itaque, atque libero fugiat, voluptatibus quam, obcaecati assumenda excepturi.
  Repellendus hic, quasi nostrum ut maiores deserunt quisquam ipsa, est in animi
  possimus magni, velit numquam? Inventore dolores nemo quam natus illum
  sapiente, expedita ipsa aspernatur unde quasi aliquid debitis totam veniam,
  tempora voluptate necessitatibus accusantium quas consectetur impedit?
  Doloremque aliquam voluptates molestias esse ea enim?
</div>
