---
interface Props {
  height: string;
  columnsPerSide: number;
}

const { height, columnsPerSide } = Astro.props as Props;
---

<div
  class="bg-gradient-to-b from-dark to-primary"
  style={`height: ${height}; width: ${100 / (columnsPerSide * 2)}%;`}
>
</div>
