---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import Columns from "./columns.astro";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.letsGetStarted;
---

<section
  class="relative w-full min-h-[70vh] flex items-center justify-center mt-20"
>
  <div class="flex flex-col items-center z-10">
    <h2 class="text-center heading-h2">
      {content.title.first}
      <span
        class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent block mt-6"
      >
        {content.title.second}
      </span>
    </h2>

    <p class="text-center text-custom-xl mt-4 font-light">
      {content.description}
    </p>
    <button
      class="bg-primary rounded-[36px] px-16 py-2 font-bold mt-16 text-custom-lg cursor-pointer hover:shadow-xl hover:shadow-primary duration-[1s]"
      onclick={`document.getElementById('contactUs')?.scrollIntoView({ behavior: 'smooth' })`}
    >
      {content.button}
    </button>
  </div>
  <Columns />
  <div
    class="absolute left-0 bottom-0 w-full h-4 bg-primary shadow-lg shadow-primary blur-sm"
  >
  </div>
</section>
