---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h2"> {
  class?: string;
}

const { class: customClass = "", ...restProps } = Astro.props as Props;
---

<h2
  class={`bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text text-center text-transparent heading-h2 w-fit mx-auto py-2 ${customClass} leading-[2.8rem] md:leading-[5.4rem]`}
  {...restProps}
>
  <slot />
</h2>
