@font-face {
    font-family: "Grandis";
    src: url("/fonts/grandis-extended-bold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura medium";
    src: url("/fonts/futura-medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura Bold";
    src: url("/fonts/Futura-Bold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --font-grandis: "Grandis";
    --font-futura-medium: "Futura medium";
    --font-futura-bold: "Futura Bold";
}

@theme {
    --font-grandis: Grandis, sans-serif;
}