---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import BenefitItem from "./benefit-item.astro";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.benefits;
---

<section
  class="flex items-center justify-evenly gap-12 container mx-auto px-12 my-32 min-h-[50vh]"
  id="benefits"
>
  <h3 class="font-grandis text-5xl" set:html={content.title} />
  <div
    class="relative px-8 py-16 flex flex-col gap-4 rounded-lg overflow-hidden"
  >
    <div
      class="-z-10 absolute w-full h-full left-0 top-0 bg-radial from-white from-30% to-dark opacity-15"
    >
    </div>
    {content.card.map((i) => <BenefitItem set:html={i} />)}
  </div>
</section>
