---
import Carrusel from "./carrusel.astro";
---

<section class="container mx-auto my-20">
  <div
    class="bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text mx-auto w-fit py-2 mb-12"
  >
    <h2 class="text-center text-transparent font-grandis text-6xl">
      ¿Qué hace la IA?
    </h2>
  </div>
  <Carrusel />
</section>
