---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.hero.chatbot;
---

<label
  for="chat-bot"
  class="w-full max-w-[80%] mx-auto border-4 border-gray-400 rounded-l-lg rounded-r-[45px] text-xl bg-white flex"
>
  <div class="flex gap-2 px-4 py-2 grow">
    <img src="/chat-bot/bot-icon.svg" alt="" />
    <input
      type="text"
      name="chat-bot"
      id="chat-bot"
      placeholder={content.input.placeholder}
      class="outline-none h-full w-full text-black"
    />
  </div>

  <button
    class="bg-primary px-6 rounded-[45px] shadow-2xl shadow-secondary font-bold"
    >{content.input.button}</button
  >
</label>
