<label
  for="chat-bot"
  class="w-full max-w-[80%] mx-auto border-3 border-gray-500 border-in rounded-lg text-xl bg-white"
>
  <div class="flex gap-2 px-4 py-2">
    <img src="/chat-bot/bot-icon.svg" alt="" />
    <input
      type="text"
      name="chat-bot"
      id="chat-bot"
      placeholder="Escríbenos, ¿Cómo podemos ayudarte?"
    />
  </div>

  <button class="bg-primary">Hablemos ahora</button>
</label>
