---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import TargetCard from "./target-card.astro";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.target;
---

<section>
  <div
    class="w-fit mx-auto bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text mb-4"
  >
    <h2 class="font-grandis text-6xl text-center text-transparent">
      {content.title}
    </h2>
  </div>

  <div
    class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-y-12 justify-items-center"
  >
    {
      content.card.map((e) => (
        <TargetCard img={e.img} label={e.label} isGradient={e.isGradient} />
      ))
    }
  </div>
</section>
