---
import TargetCard from "./target-card.astro";
---

<section>
  <div
    class="w-fit mx-auto bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text mb-4"
  >
    <h2 class="font-grandis text-6xl text-center text-transparent">
      ¿Para quién es esto?
    </h2>
  </div>

  <div class="mt-12 grid grid-cols-2 gap-y-12 justify-items-center">
    <TargetCard
      img="/src/assets/icons/dev-team.svg"
      label="Desarrolladores y equipos de software"
    />
    <TargetCard
      img="/src/assets/icons/startups.svg"
      label="Startups que buscan velocidad sin sacrificar calidad"
      isGradient
    />
    <TargetCard
      img="/src/assets/icons/consultant.svg"
      label="Consultoras que necesitan mantener estándares"
      isGradient
    />
    <TargetCard
      img="/src/assets/icons/education.svg"
      label="Plataformas educativas que enseñan código limpio"
    />
  </div>
</section>
