<chat-float
  unique-organization-token="unique_686bf55475c840c3ed121d32"
  primary-color="var(--color-primary)"
  background-bubble="var(--color-primary)"
  img="/logo.svg"
  welcome="CODARI <span>Pro</span>"
  zindex="10"
>
</chat-float>
