---
import { UNIQUE_TOKEN } from "src/constants/urls.constant";
---

<chat-float
  unique-organization-token={UNIQUE_TOKEN}
  primary-color="var(--color-primary)"
  background-bubble="var(--color-primary)"
  img="/logo.svg"
  welcome="CODARI <span>Pro</span>"
  zindex="10"
>
</chat-float>
