---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { translator } from "@i18n/config/translator";

interface Props {
  class?: string;
}

const className = (Astro.props as Props).class ?? "";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
---

<a href="/" class={`flex items-center gap-1 h-fit ${className}`}>
  <img src="/logo.svg" alt="logo" class="size-16" />
  <div
    class="bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text hidden sm:inline"
  >
    <span class="text-transparent font-bold text-xl text-nowrap">{t.logo}</span>
  </div>
</a>
