<a href="/" class="flex items-center gap-1">
  <img src="/logo.svg" alt="logo" class="size-16" />
  <div class="bg-gradient-to-r from-white via-gray-400 to-white bg-clip-text">
    <span class="text-transparent font-bold text-xl">CODARI Pro</span>
  </div>
</a>
