---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { languajeList } from "@i18n/config/languaje";
import { translator } from "@i18n/config/translator";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  return languajeList.map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
---

<Layout lang={lang} title="Hola">
  <h1 class="text-primary">{t?.languageOptions.en}</h1>
  <p class="text-red-500">{t?.languageOptions.es}</p>
</Layout>
