---
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { languajeList } from "@i18n/config/languaje";
import { translator } from "@i18n/config/translator";
import Layout from "@layouts/Layout.astro";
import Benefits from "src/modules/home/benefits/benefits.astro";
import ContactUs from "src/modules/home/contact-us/contact-us.astro";
import Hero from "src/modules/home/hero/hero.astro";
import LetsGetStarted from "src/modules/home/lets-get-started/lets-get-started.astro";
import Target from "src/modules/home/target/target.astro";
import WhatAreDoing from "src/modules/home/what-are-doing/what-are-doing.astro";

export async function getStaticPaths() {
  return languajeList.map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
---

<Layout lang={lang} title={t?.title}>
  <Hero />
  <main>
    <WhatAreDoing />
    <Benefits />
    <ContactUs />
    <Target />
    <LetsGetStarted />
  </main>
</Layout>
