---
import Logo from "@components/Logo.astro";
import SwitchLang from "@components/SwitchLang.astro";
import SwitchThemes from "@components/SwitchThemes.astro";
import ChatBot from "./chat-bot/chat-bot.astro";
import type { TLanguage } from "@i18n/config/interfaces/languaje.interface";
import { translator } from "@i18n/config/translator";

const lang = Astro.params.lang as TLanguage;
const t = translator(lang);
const content = t.pages.home.hero;
---

<div
  class="relative container mx-auto py-4 h-[80vh] max-h-[900px] rounded-b-3xl flex flex-col"
>
  <nav class="flex items-center justify-between">
    <Logo />
    <div class="flex items-center gap-4">
      <SwitchLang languages={t.languageOptions} />
      <SwitchThemes />
    </div>
  </nav>
  <div class="grow flex items-center justify-center">
    <div class="max-w-[70%]">
      <h1 class="text-white text-center heading-h2">
        {content.slogan.first}
        <div class="bg-gradient-to-r from-primary to-secondary bg-clip-text">
          <span class="text-transparent">{content.slogan.second}</span>
        </div>
      </h1>

      <p class="text-center text-custom-xl mt-4 font-light">
        {content.description}
      </p>
    </div>
  </div>
  <ChatBot />
</div>
