<div
  class="absolute right-0 top-1/2 -translate-y-1/2 h-[200%] max-h-[200vw] w-[100vw] bg-primary mask mask-[url('/points-right.svg')] mask-right mask-contain mask-no-repeat"
  aria-hidden="true"
>
</div>
